*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ecf0f3;
    font-family: sans-serif;
    outline: none;
    /* overflow-y: hidden; */
}

.container{
    margin-top: 50px;
    margin-bottom: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 10px; */

}

.calculator{
   
    background-color:#ecf0f3;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px white,
                5px 5px 12px rgba(0,0,0,.16);
    display: grid;
    grid-template-columns: repeat(4,68px);

}


input{
    grid-column: span 4;
    height: 80px;
    width: 270px;
    background-color: #ecf0f3;
    border: none;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset  5px 5px 12px rgb(0, 0,0,.16);
    border-radius: 30px;
    color: rgb(70, 70, 70);
    font-size: 50px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 20px;
    text-align: end;
}

button{
    height: 50px;
    width: 50px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px white,
                5px 5px 12px rgba(0,0,0,0.16) ;
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
}

.equalto{
    grid-column: span 2;
    width: 115px;
    border-radius: 40px;
}
